<a href="https://colab.research.google.com/github/adsmetanina/hunter-college-data-week/blob/main/python_0819.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd

url = 'https://raw.githubusercontent.com/stjohn/datasci/main/openDataWeek/tickets.csv'
tickets = pd.read_csv(url)

print(tickets)

## series: one directional array (vertical information)
## index: row number

     Summons Number  Plate ID Registration State Plate Type  Issue Date  \
0        1335632335    L040HZ                 FL        PAS  06/09/2015
1        1351345497   GYA2946                 NY        PAS  06/25/2015
2        1355390564  T512895C                 NY        OMT  07/06/2015
3        1355390825   GVX5273                 NY        PAS  06/28/2015
4        1355390862     GOLPO                 NY        OMT  07/06/2015
..              ...       ...                ...        ...         ...
994      7326771054    XARL98                 NJ        PAS  07/24/2015
995      7326771121   HXD2344                 PA        PAS  07/24/2015
996      7326771182    XR351G                 NJ        PAS  07/24/2015
997      7326771236   GVA4260                 NY        PAS  07/24/2015
998      7313165900  T648267C                 NY        OMT  07/10/2015

     Violation Code Vehicle Body Type Vehicle Make Issuing Agency  \
0                46              SUBN        NISSA              X
1                21               SDN         FORD              S
2                20              SUBN        LINCO              P
3                20               SDN        HONDA              P
4                19               VAN        TOYOT              P
..              ...               ...          ...            ...
994              14              DELV        ISUZU              T
995              21              4DSD        TOYOT              T
996              16               VAN         FORD              T
997              40              SUBN        NISSA              T
998              46              SUBN        CADIL              T

     Street Code1  ...  Vehicle Color  Unregistered Vehicle?  Vehicle Year  \
0           35430  ...            RED                    0.0             0
1           35550  ...            TAN                    0.0          2011
2           35210  ...          BLACK                    0.0          2010
3           35210  ...            RED                    0.0          1994
4               0  ...           BLUE                    0.0          2014
..            ...  ...            ...                    ...           ...
994         15710  ...          WHITE                    NaN             0
995         35510  ...           GREY                    NaN             0
996         11710  ...          WHITE                    NaN             0
997         35570  ...           GREY                    NaN          2011
998         13610  ...          BLACK                    NaN          2011

     Meter Number  Feet From Curb  Violation Post Code  \
0               -               0                  NaN
1               -               0                  NaN
2               -               0                  NaN
3               -               0                  NaN
4               -               0                  NaN
..            ...             ...                  ...
994           NaN               0                 40 7
995           NaN               0                 40 7
996           NaN               0                 40 7
997           NaN               0                 40 7
998           NaN               0                 42 7

             Violation Description No Standing or Stopping Violation  \
0                              NaN                               NaN
1                              NaN                               NaN
2                              NaN                               NaN
3                              NaN                               NaN
4                              NaN                               NaN
..                             ...                               ...
994                 14-No Standing                               NaN
995   21-No Parking (street clean)                               NaN
996  16-No Std (Com Veh) Com Plate                               NaN
997                40-Fire Hydrant                               NaN
998   46A-Double Parking (Non-COM)                               NaN

    Hydrant Violation Double Parking Violation
0                 NaN                      NaN
1                 NaN                      NaN
2                 NaN                      NaN
3                 NaN                      NaN
4                 NaN                      NaN
..                ...                      ...
994               NaN                      NaN
995               NaN                      NaN
996               NaN                      NaN
997               NaN                      NaN
998               NaN                      NaN

[999 rows x 43 columns]

In [50]:
s = pd.Series(["welcome", "to", "data100"])

s.index

print(s)

s = pd.Series([-1, 10, 2], index = ["a", "b", "c"])

s.index = ["first", "second", "third"]

print(s)

0    welcome
1         to
2    data100
dtype: object
first     -1
second    10
third      2
dtype: int64

In [51]:
s = pd.Series([4, -2, 0, 6], index = ["a", "b", "c", "d"])

s[["a", "c"]]

a    4
c    0
dtype: int64

In [52]:
s_a = pd.Series(["a1", "a2", "a3"], index = ["r1", "r2", "r3"])
s_b = pd.Series(["b1", "b2", "b3"], index = ["r1", "r2", "r3"])
pd.DataFrame({"A-column":s_a, "B-column":s_b})

   A-column B-column
r1       a1       b1
r2       a2       b2
r3       a3       b3

In [53]:
tickets.set_index("Registration State")

,Summons Number,Plate ID,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
Registration State,,,,,,,,,,,,,,,,,,,,,
FL,1335632335,L040HZ,PAS,06/09/2015,46,SUBN,NISSA,X,35430,14510,...,RED,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
NY,1351345497,GYA2946,PAS,06/25/2015,21,SDN,FORD,S,35550,44990,...,TAN,0.0,2011,-,0,NaN,NaN,NaN,NaN,NaN
NY,1355390564,T512895C,OMT,07/06/2015,20,SUBN,LINCO,P,35210,29690,...,BLACK,0.0,2010,-,0,NaN,NaN,NaN,NaN,NaN
NY,1355390825,GVX5273,PAS,06/28/2015,20,SDN,HONDA,P,35210,29690,...,RED,0.0,1994,-,0,NaN,NaN,NaN,NaN,NaN
NY,1355390862,GOLPO,OMT,07/06/2015,19,VAN,TOYOT,P,0,29690,...,BLUE,0.0,2014,-,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NJ,7326771054,XARL98,PAS,07/24/2015,14,DELV,ISUZU,T,15710,35450,...,WHITE,NaN,0,NaN,0,40 7,14-No Standing,NaN,NaN,NaN
PA,7326771121,HXD2344,PAS,07/24/2015,21,4DSD,TOYOT,T,35510,15710,...,GREY,NaN,0,NaN,0,40 7,21-No Parking (street clean),NaN,NaN,NaN
NJ,7326771182,XR351G,PAS,07/24/2015,16,VAN,FORD,T,11710,35490,...,WHITE,NaN,0,NaN,0,40 7,16-No Std (Com Veh) Com Plate,NaN,NaN,NaN
NY,7326771236,GVA4260,PAS,07/24/2015,40,SUBN,NISSA,T,35570,11710,...,GREY,NaN,2011,NaN,0,40 7,40-Fire Hydrant,NaN,NaN,NaN
NY,7313165900,T648267C,OMT,07/10/2015,46,SUBN,CADIL,T,13610,34990,...,BLACK,NaN,2011,NaN,0,42 7,46A-Double Parking (Non-COM),NaN,NaN,NaN

In [54]:
url = 'https://raw.githubusercontent.com/stjohn/datasci/main/openDataWeek/tickets.csv'

tickets = pd.read_csv(url, index_col = "Registration State") # select new column as index

In [55]:
tickets.head(5)
tickets.tail(5)
print(tickets.head)

<bound method NDFrame.head of                     Summons Number  Plate ID Plate Type  Issue Date  \
Registration State
FL                      1335632335    L040HZ        PAS  06/09/2015
NY                      1351345497   GYA2946        PAS  06/25/2015
NY                      1355390564  T512895C        OMT  07/06/2015
NY                      1355390825   GVX5273        PAS  06/28/2015
NY                      1355390862     GOLPO        OMT  07/06/2015
...                            ...       ...        ...         ...
NJ                      7326771054    XARL98        PAS  07/24/2015
PA                      7326771121   HXD2344        PAS  07/24/2015
NJ                      7326771182    XR351G        PAS  07/24/2015
NY                      7326771236   GVA4260        PAS  07/24/2015
NY                      7313165900  T648267C        OMT  07/10/2015

                    Violation Code Vehicle Body Type Vehicle Make  \
Registration State
FL                              46              SUBN        NISSA
NY                              21               SDN         FORD
NY                              20              SUBN        LINCO
NY                              20               SDN        HONDA
NY                              19               VAN        TOYOT
...                            ...               ...          ...
NJ                              14              DELV        ISUZU
PA                              21              4DSD        TOYOT
NJ                              16               VAN         FORD
NY                              40              SUBN        NISSA
NY                              46              SUBN        CADIL

                   Issuing Agency  Street Code1  Street Code2  ...  \
Registration State                                             ...
FL                              X         35430         14510  ...
NY                              S         35550         44990  ...
NY                              P         35210         29690  ...
NY                              P         35210         29690  ...
NY                              P             0         29690  ...
...                           ...           ...           ...  ...
NJ                              T         15710         35450  ...
PA                              T         35510         15710  ...
NJ                              T         11710         35490  ...
NY                              T         35570         11710  ...
NY                              T         13610         34990  ...

                    Vehicle Color  Unregistered Vehicle?  Vehicle Year  \
Registration State
FL                            RED                    0.0             0
NY                            TAN                    0.0          2011
NY                          BLACK                    0.0          2010
NY                            RED                    0.0          1994
NY                           BLUE                    0.0          2014
...                           ...                    ...           ...
NJ                          WHITE                    NaN             0
PA                           GREY                    NaN             0
NJ                          WHITE                    NaN             0
NY                           GREY                    NaN          2011
NY                          BLACK                    NaN          2011

                    Meter Number  Feet From Curb  Violation Post Code  \
Registration State
FL                             -               0                  NaN
NY                             -               0                  NaN
NY                             -               0                  NaN
NY                             -               0                  NaN
NY                             -               0                  NaN
...                          ...             ...                  ...
NJ                           NaN               0                 40 7
PA                           NaN               0                 40 7
NJ                           NaN               0                 40 7
NY                           NaN               0                 40 7
NY                           NaN               0                 42 7

                            Violation Description  \
Registration State
FL                                            NaN
NY                                            NaN
NY                                            NaN
NY                                            NaN
NY                                            NaN
...                                           ...
NJ                                 14-No Standing
PA                   21-No Parking (street clean)
NJ                  16-No Std (Com Veh) Com Plate
NY                                40-Fire Hydrant
NY                   46A-Double Parking (Non-COM)

                   No Standing or Stopping Violation Hydrant Violation  \
Registration State
FL                                               NaN               NaN
NY                                               NaN               NaN
NY                                               NaN               NaN
NY                                               NaN               NaN
NY                                               NaN               NaN
...                                              ...               ...
NJ                                               NaN               NaN
PA                                               NaN               NaN
NJ                                               NaN               NaN
NY                                               NaN               NaN
NY                                               NaN               NaN

                   Double Parking Violation
Registration State
FL                                      NaN
NY                                      NaN
NY                                      NaN
NY                                      NaN
NY                                      NaN
...                                     ...
NJ                                      NaN
PA                                      NaN
NJ                                      NaN
NY                                      NaN
NY                                      NaN

[999 rows x 42 columns]>

In [56]:
tickets = tickets.reset_index()
# select items by label
tickets.loc[[1, 2, 3], ["Summons Number", "Plate ID", "Plate Type"]]
tickets.loc[:, ["Summons Number", "Plate ID", "Plate Type"]]

     Summons Number  Plate ID Plate Type
0        1335632335    L040HZ        PAS
1        1351345497   GYA2946        PAS
2        1355390564  T512895C        OMT
3        1355390825   GVX5273        PAS
4        1355390862     GOLPO        OMT
..              ...       ...        ...
994      7326771054    XARL98        PAS
995      7326771121   HXD2344        PAS
996      7326771182    XR351G        PAS
997      7326771236   GVA4260        PAS
998      7313165900  T648267C        OMT

[999 rows x 3 columns]

In [57]:
# select items by integer
tickets.iloc[:,0:5]
tickets.iloc[[1, 3, 5], 0:5]

  Registration State  Summons Number Plate ID Plate Type  Issue Date
1                 NY      1351345497  GYA2946        PAS  06/25/2015
3                 NY      1355390825  GVX5273        PAS  06/28/2015
5                 NJ      1361379212   ZUD99Y        PAS  06/24/2015

In [58]:
tickets[3:7]

,Registration State,Summons Number,Plate ID,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
3,NY,1355390825,GVX5273,PAS,06/28/2015,20,SDN,HONDA,P,35210,...,RED,0.0,1994,-,0,NaN,NaN,NaN,NaN,NaN
4,NY,1355390862,GOLPO,OMT,07/06/2015,19,VAN,TOYOT,P,0,...,BLUE,0.0,2014,-,0,NaN,NaN,NaN,NaN,NaN
5,NJ,1361379212,ZUD99Y,PAS,06/24/2015,40,SDN,TOYOT,X,35330,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,NJ,1294715331,H22CWL,PAS,07/19/2015,17,SDN,HONDA,P,14510,...,WHITE,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN

In [59]:
tickets = tickets.reset_index()
tickets[['Summons Number', 'Plate ID', 'Registration State']]

     Summons Number  Plate ID Registration State
0        1335632335    L040HZ                 FL
1        1351345497   GYA2946                 NY
2        1355390564  T512895C                 NY
3        1355390825   GVX5273                 NY
4        1355390862     GOLPO                 NY
..              ...       ...                ...
994      7326771054    XARL98                 NJ
995      7326771121   HXD2344                 PA
996      7326771182    XR351G                 NJ
997      7326771236   GVA4260                 NY
998      7313165900  T648267C                 NY

[999 rows x 3 columns]

In [60]:
tickets["Registration State"]

0      FL
1      NY
2      NY
3      NY
4      NY
       ..
994    NJ
995    PA
996    NJ
997    NY
998    NY
Name: Registration State, Length: 999, dtype: object

In [61]:
# much faster than .loc and .iloc
tickets["Plate ID"]

0        L040HZ
1       GYA2946
2      T512895C
3       GVX5273
4         GOLPO
         ...
994      XARL98
995     HXD2344
996      XR351G
997     GVA4260
998    T648267C
Name: Plate ID, Length: 999, dtype: object

In [62]:
tickets.loc[[1, 2, 3], ["Summons Number", "Plate ID", "Plate Type"]]
tickets[["Summons Number", "Plate ID", "Plate Type"]][1:4]

   Summons Number  Plate ID Plate Type
1      1351345497   GYA2946        PAS
2      1355390564  T512895C        OMT
3      1355390825   GVX5273        PAS

In [63]:
tickets['plate_len'] = tickets['Plate ID'].str.len()

In [64]:
tickets["Issue Date"].value_counts()

Issue Date
06/26/2015    60
07/11/2015    52
06/29/2015    51
07/10/2015    50
07/16/2015    39
07/23/2015    37
07/15/2015    36
07/28/2015    34
06/27/2015    33
07/09/2015    32
07/24/2015    32
07/01/2015    31
07/14/2015    28
07/07/2015    28
06/30/2015    27
07/20/2015    26
07/02/2015    26
07/08/2015    25
07/17/2015    23
07/13/2015    23
07/22/2015    23
06/28/2015    21
07/27/2015    21
07/18/2015    20
07/06/2015    18
06/24/2015    18
07/19/2015    17
07/25/2015    16
06/12/2015    14
07/21/2015    11
07/26/2015    11
06/18/2015    11
07/12/2015    10
06/14/2015     9
06/19/2015     9
06/25/2015     7
06/22/2015     7
06/13/2015     7
07/05/2015     7
06/23/2015     7
06/20/2015     6
06/21/2015     6
07/04/2015     6
06/16/2015     4
06/17/2015     3
06/07/2015     3
06/15/2015     2
06/09/2015     1
06/03/2015     1
06/10/2015     1
05/04/2015     1
06/06/2015     1
05/30/2015     1
08/03/2015     1
02/11/2015     1
06/08/2015     1
07/03/2015     1
07/11/2000     1
08/05/2015     1
Name: count, dtype: int64

In [65]:
tickets['Vehicle Color'].value_counts()

Vehicle Color
WHITE    156
GY       112
BK       104
BLACK    103
WH        91
GREY      55
BLUE      53
SILVE     49
RED       43
BL        40
GRAY      22
BLK       22
RD        22
GREEN     15
GR        13
OTHER     12
YELLO     11
TN         9
TAN        7
GL         5
GRY        5
GOLD       4
LTG        4
ORANG      4
WHT        3
BR         3
MR         3
BLU        2
BROWN      2
BRW        1
BIK        1
SILV       1
WTR        1
SILVR      1
B          1
YL         1
GN         1
LT/        1
DKB        1
Name: count, dtype: int64

In [66]:
tickets.describe()

,index,Summons Number,Violation Code,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,...,Date First Observed,Law Section,Violation Legal Code,Unregistered Vehicle?,Vehicle Year,Feet From Curb,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,plate_len
count,999.000000,9.990000e+02,999.000000,999.000000,999.000000,999.000000,9.990000e+02,999.0,999.0,999.000000,...,9.990000e+02,999.000000,0.0,329.0,999.000000,999.000000,0.0,0.0,0.0,999.000000
mean,499.000000,5.193755e+09,33.481481,27266.206206,21555.118118,22638.039039,2.670042e+07,20.0,20.0,26.853854,...,1.109397e+06,403.507508,NaN,0.0,1072.407407,0.262262,NaN,NaN,NaN,6.638639
std,288.530761,2.736069e+09,17.455911,11342.264132,13381.648236,13831.658959,2.692534e+07,0.0,0.0,69.099669,...,4.598427e+06,42.597780,NaN,0.0,1003.252202,1.273000,NaN,NaN,NaN,0.578981
min,0.000000,1.294715e+09,10.000000,0.000000,0.000000,0.000000,0.000000e+00,20.0,20.0,0.000000,...,0.000000e+00,0.000000,NaN,0.0,0.000000,0.000000,NaN,NaN,NaN,4.000000
25%,249.500000,1.384288e+09,20.000000,14510.000000,13610.000000,11710.000000,2.015010e+07,20.0,20.0,20.000000,...,0.000000e+00,408.000000,NaN,0.0,0.000000,0.000000,NaN,NaN,NaN,6.000000
50%,499.000000,7.039109e+09,37.000000,35170.000000,15710.000000,15710.000000,2.016043e+07,20.0,20.0,20.000000,...,0.000000e+00,408.000000,NaN,0.0,1999.000000,0.000000,NaN,NaN,NaN,7.000000
75%,748.500000,7.281398e+09,40.000000,35350.000000,35290.000000,35350.000000,2.017033e+07,20.0,20.0,20.000000,...,0.000000e+00,408.000000,NaN,0.0,2013.000000,0.000000,NaN,NaN,NaN,7.000000
max,998.000000,7.326771e+09,99.000000,44990.000000,97560.000000,44990.000000,8.888889e+07,20.0,20.0,860.000000,...,2.015073e+07,408.000000,NaN,0.0,2016.000000,10.000000,NaN,NaN,NaN,8.000000

In [67]:
tickets["Feet From Curb"].describe()

count    999.000000
mean       0.262262
std        1.273000
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       10.000000
Name: Feet From Curb, dtype: float64